{{#response}}
<div class="d-flex justify-content-end align-items-center my-3">
       <button class="btn btn-primary" data-action = "edittrainigprogram" data-prgid = {{programid}}> <b>{{#str}}assignnewcpd,local_trainingprogram{{/str}}</b></button>
</div>
    {{^records}}
    {{#nodata}}
        <div class = 'w-100 pull-left alert alert-info'>{{nodata}}</div>
    {{/nodata}}
    {{/records}}
  
        <table class="table generaltable table-striped">
            <thead>
                <tr>
                <th>{{#str}}cpdname,local_trainingprogram{{/str}}</th>
                <th>{{#str}}creditedhours,local_trainingprogram{{/str}}</th>
                <th>{{#str}}action,local_trainingprogram{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#records}}
                <tr>
                    <td>{{cpdname}}</td>
                    <td>{{creditedhrs}}</td>
                    <td><button class="mr-1 btn btn-sm btn-primary" data-action="edittrainigprogram" data-id="{{programid}}" data-ctpid="{{ctpid}}">Modify</button>
                   <button class="btn btn-sm btn-danger" data-action="deletetrainigprogram" data-id="{{ctpid}}" data-name="{{cpdname}}">Delete</button>
                    </td>
                </tr>
                {{/records}}
            </tbody>
        </table>

{{/response}}
<!-- {{#js}}
require(['local_trainingprogram/tpview'], function(s) {
    s.init();
});
{{/js}} -->