{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_trainingprogram/detailed_offering_overview

    TODO describe template current_offering_modal

    Example context (json):
    {
    }
}}
 {{# viewupdaterequest}}
    <div id="currentofferingcontainer">
        <div class="row offerwrapper">
            <div class="col-md-12"> 
                <div class="d-flex justify-content-between offerheader">
                    <h5 class="m-0 theme_text_color">{{#str}} tpbeupdatedate,local_trainingprogram {{/str}}  {{# tobeupdatedofferingmethoddisplay}}- {{tobeupdatedofferingmethod}} {{/ tobeupdatedofferingmethoddisplay}}
                    </h5>
                </div>
            <div class="offertablecontainer table-responsive my-3">
                <table class="table generaltable">
                    <thead>
                        <tr>
                            {{# tobeupdatestartdatedisplay}}
                            <th>{{#str}}start_date , local_trainingprogram{{/str}}</th>
                            {{/ tobeupdatestartdatedisplay}}

                            {{# tobeupdatestarttimedisplay}}
                            <th>{{#str}}starttime , local_trainingprogram{{/str}}</th>
                            {{/ tobeupdatestarttimedisplay}}

                            {{# tobeupdateenddatedisplay}}
                            <th>{{#str}}end_date , local_trainingprogram{{/str}}</th>
                            {{/ tobeupdateenddatedisplay}}

                            {{# tobeupdateendtimedisplay}}
                            <th>{{#str}}endtime , local_trainingprogram{{/str}}</th>
                            {{/ tobeupdateendtimedisplay}}

                            {{# pricedisplay}}
                            <th>{{#str}}price , local_trainingprogram{{/str}}</th>
                            {{/ pricedisplay}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            {{# tobeupdatestartdatedisplay}}
                            <td>{{tobeupdatestartdate}}</td>
                            {{/ tobeupdatestartdatedisplay}}

                            {{# tobeupdatestarttimedisplay}}
                            <td>{{tobeupdatestarttime}}</td>
                            {{/ tobeupdatestarttimedisplay}}

                            {{# tobeupdateenddatedisplay}}
                            <td>{{tobeupdateenddate}}</td>
                            {{/ tobeupdateenddatedisplay}}

                            {{# tobeupdateendtimedisplay}}
                            <td>{{tobeupdateendtime}}</td>
                            {{/ tobeupdateendtimedisplay}}


                            {{# pricedisplay}}
                            <td>{{tobeupdateprice}}</td>
                            {{/ pricedisplay}}
                                                    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/ viewupdaterequest}}
<div id="currentofferingcontainer">
    <div class="row offerwrapper">
        <div class="col-md-12">
         
            <div class="d-flex justify-content-between offerheader">
                 <h5 class="m-0 theme_text_color">{{#str}}current_offer,local_trainingprogram{{/str}} {{coid}} -  {{offeringmethod}}
<small style="display: block;font-size: 12px;margin-top: 5px;">{{code}} - {{# published}} {{#str}}unpublished,local_trainingprogram{{/str}} {{/ published}} {{^ published}} {{#str}}published,local_trainingprogram{{/str}} {{/ published}}{{# cancelledstatus}} -  {{cancelledstatustext}} {{/ cancelledstatus}} </small>
                   {{# canupdatefinanciallstatus}}
                      <small> {{#str}} fincnaicllay_closed_status, local_trainingprogram {{/str}} -  {{# isfinanciallyclosed}} {{# str}} fc_close, local_trainingprogram {{/str}} {{/ isfinanciallyclosed}} {{^ isfinanciallyclosed}} {{# str}} fc_open, local_trainingprogram {{/ str}} {{/ isfinanciallyclosed}} </small>
                   {{/ canupdatefinanciallstatus}}
                  {{#trainertype}}
                   <br>
                   <small>Trainer Provider - <img src="{{{trainerproviderlogo}}}" width="50" height="50"> {{trainerprovider}}  </small>
                   {{/trainertype}}
           
                </h5>
            </div>
            <div class="offertablecontainer table-responsive my-3">
                <table class="table generaltable">
                    <thead>
                        <tr>
                            {{# datedisplay}}
                            <th>{{#str}}start_date , local_trainingprogram{{/str}}</th>
                            <th>{{#str}}end_date , local_trainingprogram{{/str}}</th>
                            {{/ datedisplay}}
                             <th>{{#str}}olanguage , local_trainingprogram{{/str}}</th>
                            <th>{{#str}}seats , local_trainingprogram{{/str}}</th>
                            <th>{{#str}}enrolled , local_trainingprogram{{/str}}</th>
                            {{# halldisplayaction}}
                            <th>{{#str}}hall , local_trainingprogram{{/str}}</th>
                            {{/ halldisplayaction}}
                            <th>{{#str}}program_type , local_trainingprogram{{/str}}</th>
                            {{# privateorg}}
                            <th>{{#str}}organization , local_trainingprogram{{/str}}</th>
                            {{/ privateorg}}  
                            {{# halldisplayaction}}
                            <th>{{#str}}location , local_trainingprogram{{/str}}</th>
                            {{/ halldisplayaction}}
                            <th>{{#str}}price , local_trainingprogram{{/str}}</th>
                            <th>{{#str}}offeringtrainer , local_trainingprogram{{/str}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            {{# datedisplay}}
                            <td>{{startdate}}</td>
                            <td>{{enddate}}</td>
                            {{/ datedisplay}}
                            <td>{{offcourselanguage}}</td>
                            <td>{{availableseats}}</td>
                            <td>{{enrolled}}</td>
                            {{# halldisplayaction}}
                            <td>{{hallname}}</td>
                            {{/ halldisplayaction}}
                            <td>{{type}}</td>
                            {{# privateorg}}
                            <td>{{orgname}}</td>
                            {{/ privateorg}}
                            {{# halldisplayaction}}
                            <td><a href="{{maplocation}}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i></a></td>
                            {{/ halldisplayaction}}
                            <td>{{sellingprice}}</td>                            
                            <td>
                                <p>
                                  {{limitedtrainers}}
                                        {{# hastrainernamelistmore}}
                                        <span class="dots">...</span><span class="trainer_view_more d-none">
                                            {{trainername}}
                                        </span> <a  id="myBtn" class = "show-more-trainer-btn text-themecolor" data-type = "show">{{#str}} show_more, local_trainingprogram {{/str}}</a>
                                    {{/ hastrainernamelistmore}}      
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{# sessiondatadisplay}}
             <div class="offerdayscontainer row">
                <table class="table generaltable">
                    <thead>
                        <tr>
                            <th>{{#str}}session , local_trainingprogram{{/str}}</th>
                            <th>{{#str}}date , local_trainingprogram{{/str}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# sessiondata}}
                            <tr>
                                <td>Session {{cid}}</td>
                                <td>{{sessiondate}}</td>
                                
                            </tr>
                        {{/ sessiondata}}
                    </tbody>
                </table>
            </div>
            {{/ sessiondatadisplay}}
        </div>
    </div>
</div>
<script src='https://learnerscript.com/wp-content/plugins/learnerscript/js/highcharts.js'></script>
{{#js}}
    require(['local_trainingprogram/tpview'], function(s) {
        s.init();
    });
    $('.show-more-trainer-btn').click(function(){
        var type  = $(this).attr('data-type');
        if(type == 'show') {

            $(this).attr('data-type','hide');
            $(this).parent('p').find('.dots').addClass('d-none');
            $(this).parent('p').find('.trainer_view_more').removeClass('d-none');
            $(this).html("{{#str}} show_less, local_trainingprogram {{/str}}");
        } else {

            $(this).attr('data-type','show');
            $(this).parent('p').find('.dots').removeClass('d-none');
            $(this).parent('p').find('.trainer_view_more').addClass('d-none');
            $(this).html("{{#str}} show_more, local_trainingprogram {{/str}}");
        }
    });

    function CallLearnerscript(filters) {
        // Yours
        


        // Load the block_learnerscript/report module
        require(['block_learnerscript/report'], function(s) {
        var filterdata = { reportid: filters[0].reportid, reporttype: 'table', instanceid: filters[0].reportid, reportdashboard: false };
        s.TpReportDatatable(filters);
        });
    }
    
{{/js}}
