{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_trainingprogram/listofdiscountcoupon

    TODO describe template listofdiscountcoupon

    Example context (json):
    {
    }
}}
{{#response}}
    {{#records}}
        <table class="table">
            <thead class="thead-light">
                <tr>

                  <th scope="col">{{# str}} code, local_trainingprogram{{/ str}}</th>
                  <th scope="col">{{# str}} coupon_discount, local_trainingprogram{{/ str}}</th>
                  <th scope="col">{{# str}} created_date, local_trainingprogram{{/ str}}</th>
                  <th scope="col">{{# str}} expired_date, local_trainingprogram{{/ str}}</th>
                  <th scope="col">{{# str}} status, local_trainingprogram{{/ str}}</th>
                  <th>{{# str}} actions, local_trainingprogram{{/ str}}</th>
                </tr>
            </thead>
          <tbody>
          {{# hascourses}}
              <tr>
                  <td>{{{code}}}</a></td>
                  <td>{{discount}}</td>                  
                  <td>{{coupon_created_date}}</td>                  
                  <td>{{coupon_expired_date}}</td>                  
                  <td>{{coupon_status}}</td>                                           
                  <td>
                      <div class="d-flex action_btns">
                          <a href="#"  data-action="viewdiscountentity" data-id={{id}}  data-entitytype ="coupon" data-toggle="tooltip" title="{{#str}} view, local_trainingprogram {{/str}}"><span class="bg-primary text-white"><i class="fa fa-search-plus"></i></span></a>
                          {{# caneditcoupon}}
                            <a href="#"  data-action="createcoupon" data-id={{id}} data-toggle ="tooltip" title={{#str}}edit,local_trainingprogram{{/str}}><span class="bg-info text-white"><i class="fa fa-pencil"></i></span></a>
                          {{/ caneditcoupon}}
                          {{# actionview}}
                              <a href="#"  data-action="couponmail" data-couponid={{id}} data-couponcode={{code}} data-toggle ="tooltip" title="{{#str}}send_email,local_trainingprogram{{/str}}"><span class="bg-warning text-white"><i class="fa fa-envelope fa-fw"></i></span></a>
                          {{/ actionview}}

                          {{# deletecouponview}}
                                <a href="#" data-action="deletecoupon" data-couponid={{id}} data-couponcode={{code}} data-toggle ="tooltip" title="{{#str}}delete_coupon,local_trainingprogram{{/str}}"><span class="bg-danger text-white"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
                           {{/ deletecouponview}}
                      </div>
                  </td>      
              </tr>
           {{/ hascourses}} 
          </tbody>
        </table>
    {{/ records}}
{{/ response}}

