<div class="row">
    <div class="col-md-12">
        <div id="programmethod_section">
            <div class="row my-3">
                <div class="col-md-4">
                    {{{globalinput}}}
                </div>
                <div class="col-md-8">
                
                   {{> local_trainingprogram/addevalutionmethod}}
                   
                </div>
            </div>

             <div id="programmethod_container">
                 {{{evalutionmethod}}}
            </div>
        </div> 
    </div>
     
</div>