 <div class="row">
    <div class="col-md-12">
        <div id="unpublishedentitieslist_section">
            <div class="row my-3">
                
                <div class="col-md-4">
                    {{{globalinput}}}
                </div>
                <div class="col-md-8">
                  
                </div>
            </div>

            <div id="unpublishedentitieslist_container">
                 {{{unpublishedentitieslist}}}
            </div>
        </div> 
    </div>
</div>

