 <div class="row">
    <div class="col-md-12">
        <div id="earlyregistration_section">
            <div class="row my-3">
                <div class="col-md-6">
                    {{{globalinput}}}
                </div>
                <div class="col-md-6">
                   {{> local_trainingprogram/trainingtopicsactions}}
                </div>
            </div>
            <div id="earlyregistration_container">
                 {{{trainingtopics}}}
            </div>
        </div> 
    </div>
</div>

