<div class="d-flex justify-content-end align-items-center">
    {{# createsetting}}
    <a tabindex="0" role="button" class="btn btn-primary mr-2" data-action="createrefundsetting"><i class="fa fa-plus" aria-hidden="true" ></i> {{#str}}createrefundsetting, local_trainingprogram{{/str}}</a>
    {{/ createsetting}}

    <button class="btn filter_toggle_btn" id="filter_open_btn">
        <span class="piximg">{{#pix}}pageicons/filter,theme_academy{{/pix}}</span>
        {{#str}}filter,local_trainingprogram{{/str}}
    </button>
</div>
{{#js}}
    require(['local_trainingprogram/refundsetting'], function(s) {
        s.init();
    });
{{/js}}