<div class="d-flex justify-content-end align-items-center">
   <a href="{{{couponmanagement_url}}}"> <button class="btn btn-primary mr-2">{{#str}}coupon_management , local_trainingprogram {{/str}}
     {{label}}
    </button></a>
</div>
