<div id="checkout_container">
	<div class="row">
		<div class="col-md-8">
			<div class="checkout_content">
				<h3>{{#str}}checkout, local_trainingprogram{{/str}}</h3>
				<hr>
				<h5>{{#str}}payment_method, local_trainingprogram{{/str}}</h5>
			</div>
		</div>
		<div class="col-md-4">
			<div data-region="order-summary">
				{{>tool_product/checkout/summary}}
			</div>
			<div class="mb-15">
				<p>{{#str}}select_plan, local_trainingprogram{{/str}}</p>
				<div class="form-check pull-left">
				  <input class="form-check-input" type="checkbox" value="Post Paid}" id="postpaidCheckDefault">
				  <label class="form-check-label" for="postpaidCheckDefault">
				    {{#str}}post_paid, local_trainingprogram{{/str}}
				  </label>
				</div>
				<div class="form-check pull-right">
				  <input class="form-check-input" type="checkbox" value="Pre Paid" id="prepaidCheckDefault">
				  <label class="form-check-label" for="prepaidCheckDefault">
				    {{#str}}pre_paid, local_trainingprogram{{/str}}
				  </label>
				</div>
			</div>
			<div class="mt-15">

				<button class="btn btn-primary btn-block mb-3" data-reference="0" data-parent="{{products.id}}" data-category="1" data-quantity="{{products.quantity}}" data-loggedin="1" data-action="add-to-cart-{{products.id}}">{{#str}}make_payment, local_trainingprogram{{/str}}</button>

			</div>

		</div>
	</div>
</div>

