<div>
    <div class="filterscontainer">
        <div>
            <!-- form container -->
        </div>
        
        <a href="">
            <div class="searchbtnicon"></div>
        </a>
    </div>
    <div class="row programs_container"> 
        <!-- program cards container -->
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button class="loadmorebtn">
            {{#str}}loadmore,local_trainingprogram{{/str}}
            {{# pix }} arrowwhite, theme_academy {{/ pix }}
        </button>
    </div>
</div>