<table class="table generaltable collapsecontenttable">
  <thead> 
  </thead>
  <tbody>
     {{# trainingtopics}}
    <tr class="">
       <tr>
         <td><span data-toggle="collapse" href="#selected_program-{{topicid}}" style="cursor: pointer;">{{{topicname}}}</span></td>
    </tr>

    {{/ trainingtopics}}
  </tbody>

</table>
