<div class="global_filter_structure">
       <input id="questionbank_global_filter" class="global filter form-control col-md-6" placeholder="{{# str}} search_response, local_sector {{/str}}" type="text" name="search_query">
</div>
<div id="targetcompetencypc" data-region="targetcompetencypc-preview-container" class="competencies_pc_container viewcompetencys px-3 py-4">
      <div data-region="targetcompetencypc-count-container"></div>
      <div data-region="targetcompetencypc-list-container" class ="methoddata{{ competencyid }}">
      </div>
      <span class="overlay-icon-container cardpaginate-loader {{$hiddenclass}}{{^visible}}hidden{{/visible}}{{/hiddenclass}}" data-region="overlay-icon-container">
            <span class="loading-icon icon-no-margin">{{#pix}} ajax-loader, theme_academy, {{#str}} loading {{/str}} {{/pix}}</span>
      </span>
</div>              
{{#js}}
      require(['theme_academy/cardPaginate'], function(cardPaginate) {
      var options = 
      {
            targetID: 'targetcompetencypc',
            templateName: 'local_questionbank/competencies_view',
            methodName: 'display_competencies',
            perPage: 5,
            cardClass: 'col-md-6 col-12',
            viewType: 'table'
     };
      var filteroptions = {workshopid:{{workshopid}}};
      var dataoptions = {};
      cardPaginate.reload(options, dataoptions,filteroptions);
      var search_interval = 100;
      var timer;
      $(document).on('keyup', '#questionbank_global_filter', function(){
      var searchval = $(this).val();
      var filterdata = {search_query: searchval, workshopid:{{workshopid}}};
      timer = setTimeout(function(){
      cardPaginate.reload(options, dataoptions,filterdata);
      },search_interval);
      });
      $(document).on('keydown', '#questionbank_global_filter', function(){
      clearTimeout(timer);
      });
      });
{{/js}}
