<div class="row" id="experts_container">
  <div class="col-md-12">
      <div class="row">
          <div class="col-6">
          </div>
          <div class="col-6">
            <a href="#" data-action="assignexpert" data-id={{questionbankid}} data-name="{{workshopname}}"><span class="btn btn-primary btn-md">{{#str}} assign,local_questionbank{{/str}}</span></a>
        </div>
        <div class="table-responsive mt-4">
          <table class="table generaltable">
            <thead> 
              <tr>
                <th>{{#str}}name, local_questionbank{{/str}}Name</th>
                <th>{{#str}}date_added local_questionbank{{/str}}Date Added</th>
                <th>{{#str}}actions, local_questionbank{{/str}}</th>
              </tr>
            </thead>
            <tbody>
                {{# expertsinfo}}
                  <tr>
                    <td>
                      <h6>{{username}}</h6>
                    </td>
                    <td>
                      <h6>{{dateadded}}</h6>
                    </td>
                    <td>
                      <a href="#" data-action="unassignexpert" data-id={{questionbankid}} data-userid='{{userid}}'><span class="btn btn-primary btn-md">{{#str}}unassign, local_questionbank{{/str}}</span></a>
                    </td>
                  </tr>        
                {{/ expertsinfo}}
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
{{#js}}
require(['theme_academy/cardPaginate'], function(cardPaginate) {
   cardPaginate.reload({{{options}}}, {{{dataoptions}}},{{{filterdata}}});
});
{{/js}}
