<table class='generaltable table-striped'>
    <tbody>
        <tr><td>{{# str}} title, block_faq{{/ str}}</td><td>{{title}}</td></tr>
        <tr><td>{{# str}} description, block_faq{{/ str}}</td><td>{{{description}}}</td></tr>
        <tr><td>{{# str}}  rank, block_faq{{/ str}}</td><td>{{rank}}</td></tr>

       
    </tbody>
</table>
