<div class="d-flex justify-content-end align-items-center">
    <button class="btn filter_toggle_btn" id="filter_open_btn">
        <span class="piximg">{{#pix}}pageicons/filter,theme_academy{{/pix}}</span>
       {{# str}} filter, local_trainingprogram{{/ str}}
    </button>
</div>
<!-- 
{{#js}}
    require(['tool_certificate/couponview'], function(s) {
        s.init();
    });
{{/js}} -->