{{#programs}}
<div class="col-md-6 col-lg-4 pb-3">
    <div class="card program_card shadow p-2 h-100">
        <div class="card-img-top programimage" style="background-image: url('{{imageurl}}');"></div>
        <div class="p-2">
          <h6 class="text-black program_title">{{ title }}</h6>
          <p class="mb-3">{{{description}}}</p>
          <h6 class="text-black">{{#str}}duration, local_trainingprogram{{/str}}</h6>
          <p>{{durationindays}} {{#str}}days{{/str}} </p>
          <h6 class="mt-3 text-black">{{#str}}sectors_covered, theme_academy{{/str}}</h6>
          <div class="d-flex sectoricons align-items-center justify-content-start">
              {{#capitalmarket}}
              <div class="d-flex sectoricon capitalmarketsector ">
                  <div class="icon"></div>
                  <span>{{#str}}capital_market, theme_academy{{/str}}</span>
              </div>
              {{/capitalmarket}}
              {{#finance}}
              <div class="d-flex sectoricon financesector">
                  <div class="icon"></div>
                  <span>{{#str}}finance, theme_academy{{/str}}</span>
               </div>
               {{/finance}}
               {{#insurance}}
               <div class="d-flex sectoricon insurancesector">
                  <div class="icon"></div>
                  <span>{{#str}}insurance, theme_academy{{/str}}</span>
                </div>
                {{/insurance}}
                {{#banking}}
                <div class="d-flex sectoricon bankingsector">
                  <div class="icon"></div>
                  <span>{{#str}}banking, theme_academy{{/str}}</span>
                </div>
                {{/banking}}
                
            </div>
           </div>
           <hr>
           <div class="program_footer d-flex align-items-center justify-content-between">
               <h6 class="d-flex m-0 homepagetheme_text_color">
                    <i class="fa fa-tags mt-1 mr-1" aria-hidden="true"></i> {{#str}}fees, theme_academy{{/str}} : {{^sellingprice}} {{#str}} free, local_trainingprogram {{/str}} {{/sellingprice}} 
                    {{#sellingprice}}{{sellingprice}} {{#str}} sa_currency , local_trainingprogram{{/str}} {{/sellingprice}}
               </h6>
               <button class="btn btn-primary btn-sm"><a href="{{{rooturl}}}/local/trainingprogram/programcourseoverview.php?programid={{id}}">{{#str}}program_details,theme_academy{{/str}}</a></button>
           </div>
        </div>
      </div>

  {{/programs}}
