<div class="d-flex flex-column align-items-center justify-content-center">
    <h4 class="mt-4">{{#str}}no_longer_here, theme_academy{{/str}}</h4>
    <a href="{{{dashboardurl}}}">{{#str}}got_to_home, theme_academy{{/str}}</a>
    <div class="imgdiv">{{#pix}} 404, theme_academy{{/pix}}</div>
</div>
