<div class="rounded bg-white p-4 my-4 shadow aboutuscontent">
    <div class="row">
        <div class="col-md-6">
            {{#str}}aboutus_content,theme_academy{{/str}}
        </div>
        <div class="col-md-6">
            <div class="aboutuimage">
                {{#pix}} aboutusimage, theme_academy{{/pix}}
            </div>
        </div>
    </div>
</div>
<div class="rounded bg-white p-4 my-4 shadow aboutourhistory">
    <div class="about-timeline">
        <h3 class="inner-page--title"> 
            <span>{{#str}} aboutourhistory, theme_academy{{/str}}</span>
        </h3>
        {{#str}}aboutourhistorycontent,theme_academy{{/str}}
    </div>
    
</div>