<div class="rounded bg-white p-4 my-4 shadow aboutuscontent">
    <div class="row">
        <div class="col-md-12">
            {{#str}}aboutus_content,theme_academy{{/str}}
        </div>
       
    </div>
</div>
