<form method="post" action="{{formurl}}" id="seatreservationcheckout-{{product}}">
            <input type="hidden" name="tablename" value="{{tablename}}">
            <input type="hidden" name="fieldname" value="{{fieldname}}">
            <input type="hidden" name="fieldid" value="{{fieldid}}">
            <input type="hidden" name="parentfieldid" value="{{parentfieldid}}">
            <input type="hidden" name="selectedseats" value="{{selectedseats}}">
            <input type="hidden" name="sesskey" value="{{sesskey}}">
</form>
