
{{#isloggedin}}
<a class="btn btn-primary btn-block mb-3" href="{{globals.config.wwwroot}}/admin/tool/product/cart.php">{{#str}}gotocart, tool_product{{/str}}</a>
{{/isloggedin}}
{{^isloggedin}}
	<button data-action="login-for-cart" class="btn btn-primary btn-block mb-3">{{#str}}gotocart, tool_product{{/str}}</button>
{{/isloggedin}}
{{# js}}
require(['jquery', 'core/templates', 'core/modal_factory', 'tool_product/login-modal'], function($, Templates, ModalFactory, ModalLogin) {
	var trigger = $(document).find('[data-action="login-for-cart"]');
	ModalFactory.create({type: ModalLogin.TYPE}, trigger); 
});
{{/ js}}
