{{#response}}
    {{# records}}
        {{# entities}}
        <div class="card">
          <div class="card-header">
            {{type}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{{Description}}}</p>
          </div>
        </div>
        {{/ entities}}
    {{/ records}}
{{/ response}}
