{{#response}}
{{#records}}
{{# hascourses}}
<div class="hallcontainer py-3">
    <h6 class="hall_title my-3">{{slno}}. {{name}}</h6>
    <div class="halldetails_container p-4">
        <div class="details_header row">
            <div class="hall_main_details col-md-9 col-lg-10 col-sm-9 justify-content-between">
                <div class="row">
                    <div class="main_detail_content col-md-3 col-sm-6">
                        <h6 class="detail_heading">{{# str}}code, local_hall{{/ str}}</h6>
                        <h6 class="detail_content">{{hallcode}}</h6>
                    </div>
                    <div class="main_detail_content col-md-3 col-sm-6">
                        <h6 class="detail_heading">{{# str}}city, local_hall{{/ str}}</h6>
                        <h6 class="detail_content">{{city}}</h6>
                    </div>
                    <div class="main_detail_content col-md-3 col-sm-6">
                        <h6 class="detail_heading">{{# str}}building_name, local_hall{{/ str}}</h6>
                        <p class="detail_content">{{buildingname}}</p>
                    </div>
                    <div class="main_detail_content col-md-3 col-sm-6">
                        <h6 class="detail_heading">{{# str}}seating_capacity, local_hall{{/ str}}</h6>
                        <p class="detail_content">{{seatingcapacity}}</p>
                    </div>
                    <div class="main_detail_content col-md-3 col-sm-6">
                        <h6 class="detail_heading">{{# str}}type, local_hall{{/ str}}</h6>
                        <p class="detail_content">{{type}}</p>
                    </div>
                </div>
            </div>
            {{# managehall}}
                <div class="hall_actions col-md-3 col-lg-2 col-sm-3">
                    <div class="main_detail_content">
                        <h6 class="detail_heading">{{# str}}actions, local_hall{{/ str}}</h6>
                        <div class="d-flex action_btns">
                            <a href="#"  data-action="hallcodes" title="{{# str}}hallcodes, local_hall{{/ str}}" data-id={{id}}><span class="bg-primary text-white"><i class="fa fa-asterisk" aria-hidden="true"></i></span></a>
                            <a href="#"  data-action="viewhall" title="{{# str}}viewhall, local_hall{{/ str}}" data-id={{id}}><span class="bg-primary text-white"><i class="fa fa-eye" aria-hidden="true"></i></span></a>
                            {{# actionsview}}
                            <a href="#"  data-action="edithall" title="{{# str}}edithall, local_hall{{/ str}}" data-id={{id}}><span class="bg-success text-white"><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                            <a href="#" data-action="deletehall" title="{{# str}}deletehall, local_hall{{/ str}}" data-id={{id}} data-context={{context}}><span class="bg-danger text-white"><i class="fa fa-trash-o" aria-hidden="true"></i></span></a>
                            {{/ actionsview}}
                        </div>                    
                    </div>
                </div>
            {{/ managehall}}
            <div class="col-md-12">
                <div class="divider my-2"></div>
            </div>
        </div> <!-- hall details_header ended  -->
        <div class="hall_description_containter">
            <div class="d-flex mb-2 justify-content-between">
                <h6>{{# str}}description, local_hall{{/ str}}</h6>
            </div>
            <div class="hall_description">
                <p>{{{description}}}</p>
            </div>
            <ul class="hall_eminities_list my-4">
            {{# locationstatus}}
                <li>{{# str}}address, local_hall{{/ str}} : <a href="{{maplocation}}"><i class="fa fa-map-marker"></i></a> </li>
            {{/ locationstatus}}
            {{^ locationstatus}}
                <li>{{# str}}address, local_hall{{/ str}} : {{maplocation}} </li>
            {{/ locationstatus}}
                <li>{{# str}}room_location, local_hall{{/ str}} : <b>{{roomshape}}</b></li>
                <li>{{# str}}availability, local_hall{{/ str}}: <b>{{availability}}</b> </li>
            </ul>
            <div class="d-flex equipiment_container justify-content-between">
                <h6>{{# str}}equipment_available, local_hall{{/ str}} <span>: {{equipmentavailable}} </span></h6>
                <a href="{{{viewhallurl}}}/local/hall/hallinfo.php?id={{id}}" class="view_reservation_action theme_text_color"><b>{{# str}}view_reservation, local_hall{{/ str}}</b></a>
            </div>

            <div class="d-flex equipiment_container justify-content-between">
                <a href="{{{viewhallurl}}}/local/hall/schedulehall.php?id={{id}}" class="view_reservation_action theme_text_color"><b>{{# str}}viewschedule, local_hall{{/ str}}</b></a>
            </div>

        </div>
    </div>
</div>
{{/ hascourses}}
{{/ records}}
{{/ response}}
