<div class="rounded font-weight-normal border d-flex p-4 mb-4 reservationfilterform">
    <h6 class="mr-4 font-weight-normal mb-0">{{#str}}type,local_hall{{/str}}</h6>
    <h6 class="mr-4 font-weight-normal mb-0">
        <label for="" class="d-flex align-items-center mr-3 mb-0">
            <input type="radio" name="reservationtype" class="mr-2" value="tprogram" checked>
            {{# str}}trainingprogram, local_hall{{/ str}}
        </label>
    </h6>
    <h6 class="mr-4 font-weight-normal mb-0">
        <label for="" class="d-flex align-items-center mr-3 mb-0">
            <input type="radio" name="reservationtype" class="mr-2" value="event" >
            {{# str}}event, local_hall{{/ str}}
        </label>
    </h6>
</div>
