<thead class="thead-light">
  <tr>
    <th scope="col"><b>{{type}}</b></th>
    <th scope="col"><b>{{#str}}date, local_hall{{/str}}</b></th>
    <th scope="col"><b>{{#str}}time, local_hall{{/str}}</b></th>
    <th scope="col"><b>{{#str}}seats, local_hall{{/str}}</b></th>
    <th scope="col"><b>{{#str}}hallbooking, local_hall{{/str}}</b></th>
  </tr>
</thead>