<div class="nav flex-column nav-pills" id="sidenav_tabs" role="tablist" aria-orientation="vertical">
    <a class="nav-link {{#individualregform}}active {{/individualregform}} theme_text_color" id="individual_reg-tab"  href="register.php"  aria-selected="false"><i  aria-hidden="true"></i> {{# str}} ind_registration, auth_registration{{/ str}}</a>
    <a class="nav-link {{#org_registration}}active {{/org_registration}} theme_text_color" id="organization_reg_tab-tab" href="registration.php"> <i  aria-hidden="true"></i>{{# str}} org_registration, auth_registration{{/ str}} </a>
   
</div>