<table class='generaltable table-striped'>
    <tbody>
        {{#approvalurl}}
        <tr><a href="{{{approvalurl}}}"><span class="btn btn-primary btn-lg px-1 py-1 pull-right"> {{# str}} approval_letter , local_organization{{/ str}}</span></a></tr>
         {{/approvalurl}}
        <tr><td>{{# str}}  organization, local_organization{{/ str}}</td><td>{{fullname}}</td></tr>
        <tr><td>{{# str}} shortname, local_organization{{/ str}}</td><td>{{shortname}}</td></tr>
        <tr><td>{{# str}} description, local_organization{{/ str}}</td><td>{{{description}}}</td></tr>
        <tr><td>{{# str}} orgsegment, local_organization{{/ str}}</td><td>{{segments}}</td></tr>
  
        <tr><td>{{# str}} orgsector, local_organization{{/ str}}</td><td> {{sectors}} </td></tr>        
        
        <tr><td>{{# str}} orgfieldofwork, local_organization{{/ str}}</td><td>{{orgfieldofwork}}</td></tr>
        <tr><td>{{# str}} hrfullname, local_organization{{/ str}}</td><td>{{hrfullname}}</td></tr>
        <tr><td>{{# str}} hrjobrole, local_organization{{/ str}}</td><td>{{hrjobrole}}</td></tr>
        <tr><td>{{# str}} hremail, local_organization{{/ str}}</td><td>{{hremail}}</td></tr>
        <tr><td>{{# str}} hrmobile, local_organization{{/ str}}</td><td>{{hrmobile}}</td></tr>
        <tr><td>{{# str}} alfullname, local_organization{{/ str}}</td><td>{{alfullname}}</td></tr>
        <tr><td>{{# str}} aljobrole, local_organization{{/ str}}</td><td>{{aljobrole}}</td></tr>
        <tr><td>{{# str}} alemail, local_organization{{/ str}}</td><td>{{alemail}}</td></tr>
        <tr><td>{{# str}} almobile, local_organization{{/ str}}</td><td>{{almobile}}</td></tr>
        <tr><td>{{# str}} orgcreated, local_organization{{/ str}}</td><td>{{timecreated}}</td></tr>
         <tr><td>{{# str}} discount_percentage, local_organization{{/ str}}</td><td>{{discount}}%</td></tr>
        <tr><td>{{# str}} status, local_organization{{/ str}}</td><td>{{status}}</td></tr>
    </tbody>
</table>
