<table class='generaltable table-striped'>
    <tbody>
        <tr><td>{{# str}} name, local_organization{{/ str}}</td><td>{{name}}</td></tr>
        <tr><td>{{# str}} arabicname, local_organization{{/ str}}</td><td>{{arabicname}}</td></tr>
        <tr><td>{{# str}} description, local_organization{{/ str}}</td><td>{{{description}}}</td></tr>       
    </tbody>
</table>
