
<div class="d-flex justify-content-end align-items-center my-3">
	<a  href = "{{addevent}}" role="button" class="btn btn-primary mr-2" data-action="createexam">{{#str}}addnew, local_events{{/str}}</a>
	<button class="btn filter_toggle_btn" id="filter_open_btn">
		<span class="piximg">{{#pix}}pageicons/filter,theme_academy{{/pix}}</span>
		Filter
	</button>
</div>
