<div class="d-flex justify-content-end align-items-center">
   
    <a href="{{config.wwroot}}./field_expertise.php?id={{id}}&userid={{userid}}"class="btn  btn-outline-primary mr-3"  title="{{# str}} sendrequest, local_userapproval{{/ str}}" role="button" class="btn btn-primary mr-2" data-action="addexpertise"><i class="fa fa-plus" aria-hidden="true" ></i> {{#str}}addexpertise, local_userapproval{{/str}}</a>
   

</div>
