<div class="global_filter_structure">
      <input id="enrolleditem_data_global_filter" class="global filter form-control col-md-6" placeholder="{{#str}}search, local_exams{{/str}}" type="text" name="search_query">
</div>
<div id="targetitemenrolled" data-region="targetitemenrolled-preview-container" class="items_pc_container viewitems px-3 py-4">
      <div data-region="targetitemenrolled-count-container"></div>
      <div data-region="targetitemenrolled-list-container" class ="methoddata{{ id }}">
      </div>
      <span class="overlay-icon-container cardpaginate-loader {{$hiddenclass}}{{^visible}}hidden{{/visible}}{{/hiddenclass}}" data-region="overlay-icon-container">
            <span class="loading-icon icon-no-margin">{{#pix}} ajax-loader, theme_academy, {{#str}} loading {{/str}} {{/pix}}</span>
      </span>
</div>              
<script>
require(['theme_academy/cardPaginate'], function(cardPaginate) {
      var options = 
      {
            targetID: 'targetitemenrolled',
            templateName: 'local_userapproval/itemenrolled_list',
            methodName: 'local_userapproval_itemenrolledlist',
            perPage: 5,
            cardClass: 'col-md-6 col-12',
            viewType: 'table'
     };
      var dataoptions = {userid:{{userid}}, type:'{{type}}'};
      
            cardPaginate.reload(options, dataoptions,'');
            var search_interval = 100;
            var timer;
            $(document).on('keyup', '#enrolleditem_data_global_filter', function(){
                  var searchval = $(this).val();
                  var filterdata = {search_query: searchval};
                  timer = setTimeout(function(){
                  cardPaginate.reload(options, dataoptions,filterdata);
                  },search_interval);
            });
            $(document).on('keydown', '#enrolleditem_data_global_filter', function(){
                clearTimeout(timer);
            });
      });
</script>
