<div class="row">
    <div class="col-md-12">
        <div id="requesteddata_section">
            <div class="row my-3">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-8">
                {{# hidebutton}}
                   {{> local_userapproval/addexpertise}}   
                {{/ hidebutton}}
                
                {{# statushidebutton}}
                   {{> local_userapproval/addexpertise}}   
                {{/ statushidebutton}}
                 
                </div>
            </div>
             <div>
               {{{requesteddata}}}
            </div>
        </div> 
    </div>
     
</div>
