<div class="d-flex align-item-center">
 <div> {{organizationname}} (status : {{requeststatus}}) </div>
 {{# action}}<div class="ml-1"><button class="btn btn-danger mr-2 btn-sm d-flex align-item-center"  data-action="removerequest" data-orgid={{orgid}} data-userid={{userid}} data-orgname='{{organizationname}}' data-toggle = "tooltip" title = "Remove Request"><i class="fa fa-times-circle-o" aria-hidden="true" ></i></button></div> {{/ action}}  
</div>