{{#js}}
require(['jquery', 'core/modal_factory'], function($, ModalFactory) {
  ModalFactory.create({
    title: '',
    body: "{{message}}",
    footer: '',
  })
  .done(function(modal) {
    modal.getRoot().addClass('alertdialogmodal successdialog').attr('data-backdrop','static').attr('data-keyboard','false');
    modal.getRoot().find('.modal-dialog').addClass('modal-dialog-centered');
    modal.show();
  });
});
{{/js}}