<table style="border-collapse: collapse;border:1px solid #333;">


<tr></tr>
    <th style="border:1px solid #333; padding: 20px;">{{fnheading}}</th>
    <th style="border:1px solid #333; padding: 20px;">{{idheading}}</th>
</tr>

    {{#userdata}}
    <tr>

    <td style="border:1px solid #333; padding: 20px;">{{fullname}}</td>
    <td style="border:1px solid #333; padding: 20px;">{{idnumber}}</td>
    </tr>
    {{/userdata}}
</table>
