<table class='generaltable table-striped'>
    <tbody>
        <tr><td>{{# str}} exam, local_exams{{/ str}}</td><td>{{exam}}</td></tr>
        <tr><td>{{# str}} code, local_exams{{/ str}}</td><td>{{code}}</td></tr>
        <tr><td>{{# str}} examprice, local_exams{{/ str}}</td><td>{{examprice}}</td></tr>
        <tr><td>{{# str}} sellingprice, local_exams{{/ str}}</td><td>{{sellingprice}}</td></tr>
        <tr><td>{{# str}} actualprice, local_exams{{/ str}}</td><td>{{actualprice}}</td></tr>
        <tr><td>{{# str}} programdescription, local_exams{{/ str}}</td><td>{{programdescription}}</td></tr>
        <tr><td>{{# str}} sectors, local_exams{{/ str}}</td><td>{{sectors}}</td></tr>
        <tr><td>{{# str}} targetaudience, local_exams{{/ str}}</td><td>{{targetaudience}}</td></tr>
        <tr><td>{{# str}} competencies, local_exams{{/ str}}</td><td>{{competencies}}</td></tr>
        <tr><td>{{# str}} competencyweights, local_exams{{/ str}}</td><td>{{competencyweights}}</td></tr>
        <tr><td>{{# str}} programs, local_exams{{/ str}}</td><td>{{programs}}</td></tr>
        <tr><td>{{# str}} type, local_exams{{/ str}}</td><td>{{type}}</td></tr>
        <tr><td>{{# str}} language, local_exams{{/ str}}</td><td>{{language}}</td></tr>        
        <tr><td>{{# str}} requirements, local_exams{{/ str}}</td><td>{{requirements}}</td></tr>
        <tr><td>{{# str}} certificatevalidity, local_exams{{/ str}}</td><td>{{certificatevalidity}} years</td></tr>
        <tr><td>{{# str}} ownedby, local_exams{{/ str}}</td><td>{{ownedby}}</td></tr>
        <tr><td>{{# str}} examduration, local_exams{{/ str}}</td><td>{{examduration}} minutes</td></tr>
        <tr><td>{{# str}} noofquestions, local_exams{{/ str}}</td><td>{{noofquestions}}</td></tr>
        <tr><td>{{# str}} slot, local_exams{{/ str}}</td><td>{{slot}}</td></tr>
        <tr><td>{{# str}} examdatetime, local_exams{{/ str}}</td><td>{{examdatetime}}</td></tr>
        <tr><td>{{# str}} halladdress, local_exams{{/ str}}</td><td>{{halladdress}}</td></tr>
        <tr><td>{{# str}} enddate, local_exams{{/ str}}</td><td>{{enddate}}</td></tr>
    </tbody>
</table>
