
{{#response}}

<div class="my-4 table-responsive" id="view_reservations">
    <table class="table generaltable">
        <thead> 
            <tr>
                <th>#</th>
                <th>{{#str}}user, local_exams{{/str}}</th>
                <th>{{#str}}id_number, local_exams{{/str}}</th>
                <th>{{#str}}hallname, local_exams{{/str}}</th>
                <th>{{#str}}profilecode, local_exams{{/str}}</th>
                <th>{{#str}}attemptnumber, local_exams{{/str}}</th>
                <th>{{#str}}date, local_exams{{/str}}</th>
                <th>{{#str}}starttime, local_exams{{/str}}</th>
                <th>{{#str}}endtime, local_exams{{/str}}</th>
                <!-- <th class="text-center">{{# str}}action , local_hall{{/str}}</th> -->
            </tr>
        </thead>
        <tbody>
            <div class=" mb-3 collapse" id="hallid-{{hallid}}">
                {{#records}}
                <tr>
                    <td> <h6>{{row_num}}</h6></td>
                    <td> <h6>{{fullname}}</h6></td>
                    <td> <h6>{{id_number}}</h6></td>
                    <td> <h6>{{#hallname}}{{hallname}}{{/hallname}}{{^hallname}}--{{/hallname}}</h6></td>
                    <td> <h6>{{profilecode}}</h6></td>
                    <td> <h6>{{attemptid}}</h6></td>
                    <td> <h6>{{#date}} {{date}}{{/date}}{{^date}} -- {{/date}}</h6></td>
                    <td> <h6>{{#reservationstart}} {{reservationstart}}{{/reservationstart}}{{^reservationstart}} -- {{/reservationstart}}</h6></td>
                    <td> <h6>{{#reservationend}} {{reservationend}}{{/reservationend}}{{^reservationend}} -- {{/reservationend}}</h6></td>
                    <!-- <td>
                        <div class="d-flex action_btns">
                            <a href="#"  data-action="editschedule" title="{{# str}}editschedule, local_exam{{/ str}}" data-id={{scheduleid}}>
                                <span class="bg-success text-white">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a href="#" data-action="deleteschedule" title="{{# str}}deleteschedule, local_exam{{/ str}}" data-id={{scheduleid}} data-context={{context}}>
                                <span class="bg-danger text-white">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </td> -->
                </tr>        
                {{/records}}
            </div>
        </tbody>
    </table>
</div>
{{/response}}
       