<table class='generaltable' id="partnerlisttable">
    <tbody>
        <tr><td>{{#str}}exam, local_exams{{/str}}</td><td>{{examname}}</td></tr>
        <tr><td>{{#str}}from,local_exams{{/str}}</td><td>{{username}}</td></tr>
        <tr><td>{{# str}}reason, local_exams{{/ str}}</td><td> {{reason}}</td></tr>
        <tr><td>{{# str}}submittedon, local_exams{{/ str}}</td><td> {{submittedon}}</td></tr>
    </tbody>
</table>