   <div class="d-flex justify-content-end align-items-center">
   
    <!-- <button class="btn filter_toggle_btn" id="filter_open_btn">
        <span class="piximg">{{#pix}}pageicons/filter,theme_academy{{/pix}}</span>
        {{#str}}filter,local_exams{{/str}}
     </button> -->
     </div>
  <div class="row">
    <div class="col-md-12">
        <div id="exams_section">
            <div id="examssheading">
                <div class="d-inline-block theme-border-bottom-3">
                </div>
                {{{examdetails}}}
            </div>
            <div id="exams_container">
                
            </div>
        </div> 
    </div>

