 <div class="row">
    <div class="col-md-12">
        <div id="enrollmentconfirmationlist_section">
            <div class="row my-3">
                
                <div class="col-md-4">
                    {{{globalinput}}}
                </div>
                <div class="col-md-8">
                   
                </div>
            </div>

            <div id="enrollmentconfirmationlist_container">
                 {{{enrollmentconfirmationlist}}}
            </div>
        </div> 
    </div>
</div>

