<div class="row">
    <div class="col-md-12">
        <div class="heading_container">
            <h4 class="theme_text_color mt-3">{{# str}} reviewmodeexams,local_exams {{/str}}</h4>
        </div>
        <div id="exams_section">
            <div class="row my-3">
                <div class="col-md-12">
                    {{{globalinput}}}
                </div>
            </div>
            <div id="halls_container">
                 {{{reviewmodeexams}}}
            </div>
        </div> 
    </div>
</div>
