<table class='generaltable table-striped'>
    <tbody>
        <tr><td>{{# str}} activestatus, local_exams{{/ str}}</td><td>{{activestatus}}</td></tr>
        <tr><td>{{# str}} publishstatus, local_exams{{/ str}}</td><td>{{publishstatus}}</td></tr>
        <tr><td>{{# str}} decision, local_exams{{/ str}}</td><td>{{decision}}</td></tr>
        <tr><td>{{# str}} language, local_exams{{/ str}}</td><td>{{language}}</td></tr>
        <tr><td>{{# str}} duration, local_exams{{/ str}}</td><td>{{duration}}</td></tr>
        <tr><td>{{# str}} seatingcapacity, local_exams{{/ str}}</td><td>{{seatingcapacity}}</td></tr>
        <tr><td>{{# str}} questions, local_exams{{/ str}}</td><td>{{questions}}</td></tr>
        <tr><td>{{# str}} trailquestions, local_exams{{/ str}}</td><td>{{trailquestions}}</td></tr>
        <tr><td>{{# str}} material, local_exams{{/ str}}</td><td>{{{material}}}</td></tr>
        <tr><td>{{# str}} targetaudience, local_exams{{/ str}}</td><td>{{targetaudience}}</td></tr>
        <tr><td>{{# str}} nondisclosure, local_exams{{/ str}}</td><td>{{{nondisclosure}}}</td></tr>
        <tr><td>{{# str}} instructions, local_exams{{/ str}}</td><td>{{{instructions}}}</td></tr>
        <tr><td>{{# str}} registrationstartdate, local_exams{{/ str}}</td><td>{{registrationstartdate}}</td></tr>        
        <tr><td>{{# str}} registrationenddate, local_exams{{/ str}}</td><td>{{registrationenddate}}</td></tr>
        <tr><td>{{# str}} password, local_exams{{/ str}}</td><td>{{password}}</td></tr>
        <tr><td>{{# str}} passinggrade, local_exams{{/ str}}</td><td>{{passinggrade}}</td></tr>
        <tr><td>{{# str}} discount, local_exams{{/ str}}</td><td>{{discount}}</td></tr>
        <tr><td>{{# str}} hascertificate, local_exams{{/ str}}</td><td>{{hascertificate}}</td></tr>
        <tr><td>{{# str}} preexampage, local_exams{{/ str}}</td><td>{{preexampage}}</td></tr>
        <tr><td>{{# str}} successrequirements, local_exams{{/ str}}</td><td>{{successrequirements}}</td></tr>
        <tr><td>{{# str}} showquestions, local_exams{{/ str}}</td><td>{{showquestions}}</td></tr>
        <tr><td>{{# str}} showexamduration, local_exams{{/ str}}</td><td>{{showexamduration}}</td></tr>
        <tr><td>{{# str}} showremainingduration, local_exams{{/ str}}</td><td>{{showremainingduration}}</td></tr>
        <tr><td>{{# str}} commentsoneachque, local_exams{{/ str}}</td><td>{{commentsoneachque}}</td></tr>
        <tr><td>{{# str}} commentsaftersub, local_exams{{/ str}}</td><td>{{commentsaftersub}}</td></tr>
        <tr><td>{{# str}} showexamresult, local_exams{{/ str}}</td><td>{{showexamresult}}</td></tr>
        <tr><td>{{# str}} showexamgrade, local_exams{{/ str}}</td><td>{{showexamgrade}}</td></tr>
        <tr><td>{{# str}} competencyresult, local_exams{{/ str}}</td><td>{{competencyresult}}</td></tr>
        <tr><td>{{# str}} resultofeachcompetency, local_exams{{/ str}}</td><td>{{resultofeachcompetency}}</td></tr>
        <tr><td>{{# str}} evaluationform, local_exams{{/ str}}</td><td>{{evaluationform}}</td></tr>
        <tr><td>{{# str}} notifybeforeexam, local_exams{{/ str}}</td><td>{{notifybeforeexam}}</td></tr>
    </tbody>
</table>
