{{!
     This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    @author eabyas  <info@eabyas.in>
}}
<div class="row" id="mysupportedcompetencies_container">
    <div class="col-md-12">
        <div class="table-responsive">
            <!-- table content -->

            {{#totalcount}}
                {{^viewmore}}

                <div class="row my-3">

                    <div class="global_filter_structure form-group m-0   col-md-4 ">
                            <div class="input_container position-relative">
                              <input id="global_filtercmtncmy" class="global filter form-control " placeholder="  {{# str}}search{{/ str}}.." type="text" name="search_query" data-options="{{options}}" data-dataoptions="{{dataoptions}}" data-status="{{status}}">
                                <span class="search_icon"></span>
                            </div>
                    </div>

                 </div>
               {{/viewmore}}
            {{/totalcount}}

            <div id="viewmysupportedcompetencies" data-region="viewmysupportedcompetencies-preview-container" class="viewmycompetencys">
                  <div data-region="viewmysupportedcompetencies-count-container"></div>
                  <div data-region="viewmysupportedcompetencies-list-container" class ="supportedmethoddata">
                  </div>
                  <span class="overlay-icon-container cardpaginate-loader {{$hiddenclass}}{{^visible}}hidden{{/visible}}{{/hiddenclass}}" data-region="overlay-icon-container">
                        <span class="loading-icon icon-no-margin">{{#pix}} ajax-loader, theme_academy, {{#str}} loading {{/str}} {{/pix}}</span>
                    </span>
            </div>

        </div>
        {{#totalcount}}
            {{#viewmore}}
                <div class="pull-right col-6 text-right">
               
                    <a href="{{cfg.wwwroot}}/blocks/supported_competencies/index.php">
                        <button class="btn btn-primary">
                            {{#str}}viewmore,block_supported_competencies{{/str}}
                        </button>
                    </a>

                </div>
            {{/viewmore}}
        {{/totalcount}}
    </div>

</div>

{{#js}}

require(['theme_academy/cardPaginate'], function(cardPaginate) {

    $(".supportedmethoddata").empty();

    cardPaginate.reload({{{supportedoptions}}}, {{{supporteddataoptions}}},{{{filterdata}}});


    var search_interval = 100;
    var timer;
    $(document).on('keyup', '#global_filtercmtncmy', function(){
        var searchval = $(this).val();
        var filterdata = {search_query: searchval};
        timer = setTimeout(function(){

            cardPaginate.reload({{{supportedoptions}}},{{{supporteddataoptions}}},filterdata);

        },search_interval);
    });
    $(document).on('keydown', '#global_filtercmtncmy', function(){
        clearTimeout(timer);
    });

});
  
{{/js}}