<div>
    <div class="filterscontainer">
        <div class="global_filter">     
            {{{filterinput}}}  
        </div>
        <div>
            {{{filterform}}}
        </div>
        <!--<a href="javascript::void(0)" class="searchbtnicon" name="filter_apply" id="id_filter_apply"></a>-->
        {{! <a href="">
            <div class="searchbtnicon"></div>
        </a> }}
    </div>
    <div class="learning_tracks_container mt-4" id="learningtrack_details">
        {{{learningpath_programs_cards}}}
    </div>
</div>
