<table class='generaltable table-striped'>
    <tbody>
        <tr><td>{{# str}} title, block_documentupload{{/ str}}</td><td>{{title}}</td></tr>
        <tr><td>{{# str}} document, block_documentupload{{/ str}}</td><td>{{{document}}}</td></tr>
       

       
    </tbody>
</table>
