 <div class="row">
    <div class="col-md-12">
        <div id="organization_section">
            <div class="row my-3">
                
                <div class="col-md-4">
                    {{{globalinput}}}
                </div>

                 <div class="col-md-8">
                
                    {{> block_documentupload/form}}
                </div>
        
            </div>

            <div id="organization_container mt-2">
                {{{documentuploaddetails}}}
            </div>
        </div> 
    </div>
</div>

