

<div class="resourcecontent resourcepdf">
  <object id="resourceobject" data="{{{document}}}?forcedownload=0" type="application/pdf" width="800" height="600">
    <param name="src" value="{{{document}}}?forcedownload=0" />
  </object>
</div>